.page-layout {
  display: grid;
  min-height: 97vh;
  padding: 1.5rem 2rem;
}

main {
  display: grid;
  grid-template-columns: minmax(auto, 1020px);
  grid-template-rows: repeat(5, min-content);
  gap: 1rem;
}
