html {
  background: #001A11;
}

span {
  text-shadow: 1px 1px black, 1px 1px 2px #eaeaea;
}

a {
  color: #EEF310;
  text-decoration: none;
}
a:hover, a:active {
  text-shadow: 1px 1px black, 1px 1px 2px #eaeaea;
}
a p {
  color: unset;
}

.arrow-link {
  position: relative;
}
.arrow-link:after {
  content: "";
  position: absolute;
  top: 79%;
  left: 5px;
  transform: rotate(-2deg);
  width: 102%;
  background: #EEF310;
  bottom: 0;
  height: 2px;
}
.arrow-link:hover:after, .arrow-link:active:after {
  border: 1px solid #201F22;
  box-shadow: 2px 1px 2px #eaeaea;
  z-index: -1;
}

.text-shadow {
  text-shadow: 1px 1px black, 1px 1px 2px #eaeaea;
}

.tooltip {
  position: relative;
}
.tooltip img {
  display: none;
  position: absolute;
  left: 0;
  bottom: 2.4rem;
  width: 150px;
}
.tooltip:hover img {
  display: block;
}
.tooltip.barclays img {
  width: 200px;
  bottom: 1rem;
}

.work img {
  margin-top: 6px;
}
.work img.barclays {
  margin-top: -14px;
  width: 100%;
}
.work img.fit {
  width: 75%;
}
