html {
  background: #001A11;
}

a {
  color: #EEF310;
  text-decoration-thickness: from-font;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

a.arrow-link {
  text-underline-offset: 12px;
  position: relative;
  text-decoration-thickness: 2.5px;
}
a.arrow-link:after {
  content: ">";
  position: absolute;
  top: 26px;
  right: -5px;
}

.tooltip {
  position: relative;
}
.tooltip img {
  display: none;
  position: absolute;
  left: 0;
  bottom: 2.4rem;
  width: 150px;
}
.tooltip:hover img {
  display: block;
}
.tooltip.barclays img {
  width: 200px;
  bottom: 1rem;
}
