@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Unica+One&display=swap");
body {
  margin: 0;
  display: grid;
}

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  font-family: "Unica One", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fbfbf2;
}

h1 {
  font-size: 4rem;
  -webkit-text-stroke: 0.5px #001a11;
  -webkit-text-fill-color: #eaeaea;
}

p {
  font-family: sirenia;
  font-weight: 100;
  text-shadow: -1px -1px 0px #001A11;
  /* text-shadow: 2px 2px 0 #fbfbf2, -2px 2px 0 #fbfbf2, -2px -2px 0 #fbfbf2, 2px -2px 0 #fbfbf2; */
  font-size: 1.7rem;
}

.col-start-1 {
  grid-column-start: 1;
}

.col-end-1 {
  grid-column-end: 2;
}

.col-start-2 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-2 {
    grid-column-start: 2;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-2 {
    grid-column-start: 1;
  }
}

.col-end-2 {
  grid-column-end: 3;
}

.col-start-3 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-3 {
    grid-column-start: 3;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-3 {
    grid-column-start: 1;
  }
}

.col-end-3 {
  grid-column-end: 4;
}
@media all and (min-width: 1040px) {
  .col-end-3 {
    grid-column-end: 2;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-3 {
    grid-column-end: 2;
  }
}

.col-start-4 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-4 {
    grid-column-start: 4;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-4 {
    grid-column-start: 2;
  }
}

.col-end-4 {
  grid-column-end: 5;
}
@media all and (min-width: 1040px) {
  .col-end-4 {
    grid-column-end: 3;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-4 {
    grid-column-end: 2;
  }
}

.col-start-5 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-5 {
    grid-column-start: 5;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-5 {
    grid-column-start: 2;
  }
}

.col-end-5 {
  grid-column-end: 6;
}
@media all and (min-width: 1040px) {
  .col-end-5 {
    grid-column-end: 3;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-5 {
    grid-column-end: 2;
  }
}

.col-start-6 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-6 {
    grid-column-start: 6;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-6 {
    grid-column-start: 2;
  }
}

.col-end-6 {
  grid-column-end: 7;
}
@media all and (min-width: 1040px) {
  .col-end-6 {
    grid-column-end: 3;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-6 {
    grid-column-end: 2;
  }
}

.col-start-7 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-7 {
    grid-column-start: 7;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-7 {
    grid-column-start: 3;
  }
}

.col-end-7 {
  grid-column-end: 8;
}
@media all and (min-width: 1040px) {
  .col-end-7 {
    grid-column-end: 4;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-7 {
    grid-column-end: 2;
  }
}

.col-start-8 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-8 {
    grid-column-start: 8;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-8 {
    grid-column-start: 3;
  }
}

.col-end-8 {
  grid-column-end: 9;
}
@media all and (min-width: 1040px) {
  .col-end-8 {
    grid-column-end: 4;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-8 {
    grid-column-end: 2;
  }
}

.col-start-9 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-9 {
    grid-column-start: 9;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-9 {
    grid-column-start: 3;
  }
}

.col-end-9 {
  grid-column-end: 10;
}
@media all and (min-width: 1040px) {
  .col-end-9 {
    grid-column-end: 4;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-9 {
    grid-column-end: 2;
  }
}

.col-start-10 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-10 {
    grid-column-start: 10;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-10 {
    grid-column-start: 4;
  }
}

.col-end-10 {
  grid-column-end: 11;
}
@media all and (min-width: 1040px) {
  .col-end-10 {
    grid-column-end: 5;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-10 {
    grid-column-end: 2;
  }
}

.col-start-11 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-11 {
    grid-column-start: 11;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-11 {
    grid-column-start: 4;
  }
}

.col-end-11 {
  grid-column-end: 12;
}
@media all and (min-width: 1040px) {
  .col-end-11 {
    grid-column-end: 5;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-11 {
    grid-column-end: 2;
  }
}

.col-start-12 {
  grid-column-start: 1;
}
@media all and (min-width: 1040px) {
  .col-start-12 {
    grid-column-start: 12;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-start-12 {
    grid-column-start: 4;
  }
}

.col-end-12 {
  grid-column-end: 13;
}
@media all and (min-width: 1040px) {
  .col-end-12 {
    grid-column-end: 5;
  }
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  .col-end-12 {
    grid-column-end: 2;
  }
}

router-outlet {
  display: none;
}
router-outlet + * {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: min-content;
  gap: 1rem;
  grid-auto-flow: row dense;
}
@media all and (min-width: 768px) and (max-width: 1040px) {
  router-outlet + * {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: min-content;
    gap: 1rem;
    grid-auto-flow: row dense;
  }
}
@media all and (min-width: 1040px) {
  router-outlet + * {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    grid-template-rows: min-content;
    gap: 1rem;
    grid-auto-flow: row dense;
  }
}

.page-layout {
  display: grid;
  min-height: 97vh;
  padding: 1rem;
}

main {
  display: grid;
  grid-template-columns: minmax(auto, 1025px);
  grid-template-rows: repeat(5, min-content);
  gap: 1rem;
}

html {
  background: #001A11;
}
