@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Unica+One&display=swap");
body {
  margin: 0;
}

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  max-width: 100%;
}

body {
  font-family: "Hind", sans-serif;
  font-weight: lighter;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #fbfbf2;
}

h1 {
  font-family: "Unica One", sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  -webkit-text-stroke: 0.5px #001A11;
  -webkit-text-fill-color: #eaeaea;
}

p {
  padding-bottom: 0.8rem;
}

.sm-text {
  font-size: 1rem;
}

@media all and (max-width: 590px) {
  h1 {
    font-size: 3rem;
  }
}
@media all and (max-width: 470px) {
  h1 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 390px) {
  h1 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.2rem;
  }
}
.page-layout {
  display: grid;
  min-height: 93vh;
  gap: 1rem;
  padding: 1.5rem 1rem;
  grid-template-rows: min-content;
}

.home {
  grid-template-columns: minmax(auto, 1020px);
}

.work {
  grid-template-columns: minmax(auto, 180px) minmax(auto, 1000px);
}
.work h1 {
  grid-column: span 2;
}
.work .summary {
  margin-left: 4rem;
  padding-left: 4rem;
  border-left: 1px solid #eaeaea;
}
.work .nav-row {
  grid-column: span 2;
}

.studies h1 {
  grid-column: span 2;
}
main .studies > *:not(.show, .nav-row) {
  grid-column: 1/2;
}
.studies .problem, .studies .solution {
  margin-bottom: 3rem;
  grid-column: 1/1;
}
.studies .show {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column: span 2;
}
.studies .show svg {
  grid-column: span 2;
}
.studies .show svg:nth-of-type(2) {
  grid-column: span 2;
  grid-row: 2;
}
.studies .hifimobile {
  width: 329px;
  height: 671px;
}
.studies .nav-row {
  grid-column: span 2;
}

.nav-row {
  display: grid;
  grid-template-areas: "back next";
  grid-template-rows: 7vh;
  justify-content: space-between;
  position: sticky;
  bottom: -1px;
  background: #001A11;
  align-self: end;
  border-top: 1px 1px black, 1px 1px 2px #eaeaea;
}
.nav-row a:first-of-type {
  text-align: right;
}
.nav-row img {
  margin-top: 0;
  width: 180px;
  padding-bottom: 6px;
  display: block;
}

@media (hover: hover) {
  .page-layout {
    padding: 2rem 2rem 0;
    gap: 1rem;
  }
  .nav-row {
    padding: 0 2rem 1rem;
  }
}
html {
  background: #001A11;
}

span {
  text-shadow: 1px 1px black, 1px 1px 2px #eaeaea;
}

a {
  color: #EEF310;
  text-decoration: none;
}
a:hover, a:active {
  text-shadow: 1px 1px black, 1px 1px 2px #eaeaea;
}
a p {
  color: unset;
}

a.arrow-link {
  position: relative;
}
a.arrow-link:after {
  content: "";
  position: absolute;
  top: 79%;
  left: 5px;
  transform: rotate(-2deg);
  width: 102%;
  background: #EEF310;
  bottom: 0;
  height: 2px;
}
a.arrow-link:hover:after, a.arrow-link:active:after {
  border: 1px solid #201F22;
  box-shadow: 2px 1px 2px #eaeaea;
  z-index: -1;
}

.text-shadow {
  text-shadow: 1px 1px black, 1px 1px 2px #eaeaea;
}

.tooltip {
  position: relative;
}
.tooltip img {
  display: none;
  position: absolute;
  left: 0;
  bottom: 2.4rem;
  width: 150px;
}
.tooltip:hover img {
  display: block;
}
.tooltip.barclays img {
  width: 200px;
  bottom: 1rem;
}

.work img {
  margin-top: 6px;
}
.work img.barclays {
  margin-top: -14px;
  width: 100%;
}
.work img.fit {
  width: 75%;
}

.studies .problem {
  position: relative;
}
.studies .problem:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0px;
  transform: rotate(-2deg);
  width: 100%;
  background: #EEF310;
  height: 2px;
  border: 1px solid #201F22;
  box-shadow: 2px 1px 2px #eaeaea;
  z-index: -1;
}
.studies .solution {
  position: relative;
}
.studies .solution:after {
  content: "";
  position: absolute;
  top: 103%;
  left: 0px;
  transform: rotate(2deg);
  width: 100%;
  background: #EEF310;
  height: 2px;
  border: 1px solid #201F22;
  box-shadow: 2px 1px 2px #eaeaea;
  z-index: -1;
}
