@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Unica+One&display=swap");
body {
  margin: 0;
  display: grid;
}

* {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

img {
  max-width: 100%;
}

html {
  background: #001A11;
}

a {
  color: #EEF310;
  text-decoration-thickness: from-font;
  text-decoration-skip-ink: none;
  text-underline-offset: 3px;
}

a.arrow-link {
  text-underline-offset: 12px;
  position: relative;
  text-decoration-thickness: 2.5px;
}

a.arrow-link:after {
  content: ">";
  position: absolute;
  top: 26px;
  right: -5px;
}

.tooltip {
  position: relative;
}

.tooltip img {
  display: none;
  position: absolute;
  left: 0;
  bottom: 2.4rem;
  width: 150px;
}

.tooltip:hover img {
  display: block;
}

.tooltip.barclays img {
  width: 200px;
  bottom: 1rem;
}

body {
  font-family: "Hind", sans-serif;
  font-weight: lighter;
  font-size: 1.7rem;
  line-height: 1.4;
  color: #fbfbf2;
}

h1 {
  font-family: "Unica One", sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  -webkit-text-stroke: 0.5px #001a11;
  -webkit-text-fill-color: #eaeaea;
}

p {
  padding-bottom: 0.8rem;
}

@media all and (max-width: 590px) {
  h1 {
    font-size: 3rem;
  }
}
@media all and (max-width: 470px) {
  h1 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 390px) {
  h1 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.2rem;
  }
}
.page-layout {
  display: grid;
  min-height: 97vh;
  grid-template-rows: repeat(5, min-content);
  gap: 1rem;
  padding: 1.5rem 2rem;
}
.page-layout.home {
  grid-template-columns: minmax(auto, 1020px);
}
.page-layout.studies {
  grid-template-columns: 188px 60px minmax(auto, 1020px);
}
.page-layout.studies h1 {
  grid-column: span 3;
}

main {
  display: contents;
}

.summary {
  grid-column: 3/4;
}

@media (pointer: coarse) {
  .page-layout {
    padding: 1.5rem 1.5rem 1.5rem 2rem;
  }
}
