@import url("https://fonts.googleapis.com/css2?family=Unica+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Voltaire&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Unica+One&display=swap");
body {
  font-family: "Hind", sans-serif;
  font-weight: 100;
  font-size: 1.25rem;
  line-height: 1.4;
  color: #eaeaea;
}

h1 {
  font-family: "Unica One", sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  -webkit-text-stroke: 0.5px #001A11;
  -webkit-text-fill-color: #eaeaea;
}

h2, h3, h4, h5 {
  font-family: "Voltaire", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

p {
  padding-bottom: 0.8rem;
}

.sm-text {
  font-size: 1rem;
}

@media all and (max-width: 590px) {
  h1 {
    font-size: 3rem;
  }
}
@media all and (max-width: 470px) {
  h1 {
    font-size: 2.4rem;
  }
  p {
    font-size: 1.2rem;
  }
}
@media all and (max-width: 390px) {
  h1 {
    font-size: 2.3rem;
  }
  p {
    font-size: 1.2rem;
  }
}
