// @use 'grid';

.page-layout {
    display: grid;  
    min-height: 97vh;
    padding: 1rem;
}
main {
    display: grid;
    // grid-template-areas: "h1 ...";
    grid-template-columns: minmax(auto, 1025px);
    grid-template-rows: repeat(5, min-content);
    gap: 1rem;
}
// //THEN
// // @include respond-to-(ipad) {
// //     display: grid;
// //     grid-template-columns: 1fr 2fr;
// // }

// // GRID 1
// .page-layout {
//     height: 100vh;
//     display: grid;  
//     grid-template: "header header header" minmax($header-min-height, max-content)
//                    "... container ..." 1fr
//                    "... footer ..."  auto / 1fr minmax(auto, $container) 1fr;
//     .header {
//       grid-area: header;
//       display: grid;
//       grid-template: "... header-container ..." minmax($header-min-height, max-content) / auto minmax(auto, $header-container) auto;
      
//       .header-container {
//         grid-area: header-container;
//         padding: $m;
//       }
//     }
//     .container {
//       grid-area: container;
//       padding: $m;
//     }
//     .footer {
//       grid-area: footer;
//     }
// }

// //GRID 2
// .app-root {
//     display: grid;
//     grid-template-areas:
//       "header"
//       "body"
//       "footer";
//     grid-template-columns: 1fr;
//     grid-template-rows: auto 1fr auto;
//     min-height: 100vh;
// }

// .header {
// position: sticky;
// top: 0;
// display: grid;
// grid-template-areas: "... h1 ...";
// grid-template-columns: 1fr 1024px 1fr;

//     div {
//         // grid-area: gutter;
//         // background: cornflowerblue;
//     }
//     h1 {
//         grid-area: h1;
//         background: black;
//         color: cornflowerblue;
//     }
// }
//   main {
//     // grid-area: main;
//     background: hotpink;
//     display: grid;
//     grid-template-areas: "... main-content ...";
//     grid-template-columns: 1fr 1024px 1fr;
    
//     section {
//       grid-area: main-content;
//       display: grid;
//       grid-template-columns: repeat(12, 1fr);
//       background: black;
//       color: hotpink;
      
//       .grid-item {
//         grid-column-start: 1;
//         grid-column-end: 13;
//         border: 1px solid white;
//         font-size: 1.5rem;
//         padding: 1rem;
//       }
//     }
    
//   }
  
//   footer {
//     display: grid;
//     grid-template-areas:
//       "... fff ...";
//     grid-template-columns: 1fr 1024px 1fr;
//     // grid-template-rows: auto 1fr auto;
//     background: limegreen;
    
//     div {
      
//     }
//     h1 {
//       grid-area: fff;
//       background: black;
//       color: limegreen;
//     }
//     div {
      
//     }
//   }