@use 'palette';

.page-layout {
    display: grid;  
    min-height: 93vh;
    gap: 1rem;
    padding: 1.5rem 1rem;
    grid-template-rows: min-content;
}

.home {
    grid-template-columns: minmax(auto, 1020px);
}
.work {
    grid-template-columns: minmax(auto, 180px) minmax(auto, 1000px);

    h1 {
        grid-column: span 2;
    }
    .summary {
        margin-left: 4rem;
        padding-left: 4rem;
        border-left: 1px solid palette.$white
    }
    .nav-row {
        grid-column: span 2;
    }
}
.studies { 

    // grid-template-columns: minmax(auto, 1020px) 1fr;
  
    h1 {
        grid-column: span 2;
    }
    main &>*:not(.show, .nav-row){
        grid-column: 1/2;
    }
    .problem, .solution {
        margin-bottom: 3rem;
        grid-column: 1/1;
    }
    .show {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-column: span 2;
    }
    // @media (hover: hover) {
    //     grid-template-columns: minmax(auto, 1020px);
    // }
    .show svg {
        grid-column: span 2;
    }
    .show svg:nth-of-type(2) {
        grid-column: span 2;
        grid-row: 2;
    }
    .hifimobile {
        width: 329px;
        height: 671px;
    }
    .nav-row {
        grid-column: span 2;
    }
}

.nav-row {
    display: grid;
    grid-template-areas: "back next";
    grid-template-rows: 7vh;
    justify-content: space-between;
    position: sticky;
    bottom: -1px;
    background: palette.$primary-green;
    align-self: end;
    border-top: palette.$shadow;

    a:first-of-type {
        text-align: right;
    }
    img {
        margin-top: 0;
        width: 180px;
        padding-bottom: 6px;
        display: block;
    }
}

//DESKTOP
@media (hover: hover) {
    .page-layout {
        padding: 2rem 2rem 0;
        gap: 1rem;
    }
    .nav-row {
        padding: 0 2rem 1rem;
    }

}
