$primary-yellowgreen: #EEF310;
// $primary-green: #00301F;
$primary-green: #001A11;

html {
    background: $primary-green;
}
body {
    // background: linear-gradient(45deg,#001A11 1500px, #EEF310 1500px);
}
// h1 {
//     grid-column: span 2;
// }

// p {
//     grid-area: copy;
// }