$primary-yellowgreen: #EEF310;
// $primary-green: #00301F;
$primary-green: #001A11;

html {
    background: $primary-green;
}

a {
    color: $primary-yellowgreen;text-decoration-thickness: from-font;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
}
a.arrow-link {
    text-underline-offset: 12px;
    position: relative;
    text-decoration-thickness: 2.5px;

    &:after {
        content: ">";
        position: absolute;
        top: 26px;
        right: -5px;
    }
}

.tooltip {
    position: relative;
    img {
        display: none;
        position: absolute;
        left: 0;
        bottom: 2.4rem;
        width: 150px;
    }

    &:hover img {
        display: block;
        
    }
    &.barclays img {
        width: 200px;
        bottom: 1rem;
    }
}

